<div *ngIf="nft">
    <p class="h1">{{nft.nftData?.name}}</p> 

    <div class="polaroid">
      <img src="{{ipdsPublicGateway}}{{nft.ipfsImageHash}}" class="img-fluid" style="width:100%">
      <div class="container">
          <p>#{{nft.tokenId}}</p>
      </div>
    </div>

    <div *ngIf='isNFTOwner'>
      <button (click)='createPurchase(bundle.customRoot, nft.tokenId)' 
          class="btn btn-success">
        CREATE PURCHASE
      </button>
      <button (click)='appropve()' class="btn btn-success" *ngIf="!isPurchaseApproved">
        APPROVE
      </button>
      <button (click)='setOnSale(bundle.customRoot, nft.tokenId)' 
          *ngIf="purchaseContract && isPurchaseApproved && !isPriceSet"
          class="btn btn-success">
        SET ON SALE
      </button>
      <button (click)='editDate(bundle.customRoot, nft.tokenId)' 
          *ngIf="purchaseContract && isPriceSet"
          style="float: right;"
          class="btn btn-warning">
        EDIT END DATE
      </button>
      <button (click)='editPrice(bundle.customRoot, nft.tokenId)' 
          *ngIf="purchaseContract && isPriceSet"
          style="float: right;"
          class="btn btn-warning">
        EDIT PRICE
      </button>
    </div>

    <div *ngIf='!isNFTOwner'>
      <button (click)='buy()' class="btn btn-primary">
        BUY
      </button>
      
      <button (click)='participate()' class="btn btn-primary">
        PAY PARTICIPATION
      </button>
  
      <button (click)='payTheInstallment()' class="btn btn-primary">
        PAY REPAYMENT
      </button>
  
      <button (click)='setOnBid()' class="btn btn-primary">
        BID
      </button>
    </div>
    
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Details
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <p>Owner: {{nftOwner}}</p>
                <p>Description: {{nft.nftData?.description}}</p>
                <p>Bundle: {{bundle.name}}</p>
                <p>Status: {{nft.statusId}}</p>
                <p>External url: {{nft.nftData?.external_url}}</p>
                <p>Created on: {{nft.createdOn}}</p>
                <p>Creator: <a style="color: rgb(35, 113, 187)" href="https://goerli.etherscan.io/address/{{nft.creatorWallet}}">{{nft.creatorWallet}}</a></p>
                <p>Token standard: {{nft.tokenStandard}}</p>
            </div>
          </div>
        </div>
        <div class="accordion-item" *ngIf="purchaseContract">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
              Sale details
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
              <p>Address: <a style="color: rgb(35, 113, 187)" href="https://goerli.etherscan.io/address/{{purchaseContract.address}}">{{purchaseContract.address}}</a></p>
              <p>Amount: {{amountInETH}}</p>
              <p>Minimum participation: {{minParticipation}}</p>
              <p>Is sold: {{isSold}}</p>
              <p>Is price set: {{isPriceSet}}</p>
              <p>Is approved: {{isPurchaseApproved}}</p>
              <p>Seller: {{seller}}</p>
              <p>Listed date: {{listedDate}}</p>
              <p>Sales end on: {{saleEnds}}</p>
              <p>Entire amount: {{purchaseContract.entireAmount}}</p>
              <p>Repayment in installments: {{purchaseContract.repaymentInInstallments}}</p>
              <p>Auction: {{purchaseContract.auction}}</p>
              <p *ngIf="biggestBid">Biggest bid: </p>
              <ul *ngIf="biggestBid">
                <li>{{biggestBid[0]}}</li>
                <li>{{biggestBid[1]}}</li>
                <li>{{biggestBid[2]}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Attributes
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <div *ngFor="let attr of nft.nftData?.attributes">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <b class="mb-1">{{attr.trait_type}}</b>
                      </div>
                      <p class="mb-1">{{attr.value}}</p>
                    </a>
                  </div>
            </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Budle contract
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                <app-source-code-contract-view [contract]="bundle.contract"></app-source-code-contract-view>
              </div>
            </div>
          </div>
          <div class="accordion-item" *ngIf="purchaseContract">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                Purchase contract
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
              <p>Address: <a style="color: rgb(35, 113, 187)" href="https://goerli.etherscan.io/address/{{purchaseContract.address}}">{{purchaseContract.address}}</a></p>
              <p>Created on: {{purchaseContract.createdOn}}</p>
              <app-source-code-contract-view [contract]="purchaseContract.contract"></app-source-code-contract-view>
            </div>
          </div>
      </div>
</div>
