<div *ngIf="nft">
    <p class="h1">#{{nft.tokenId}} {{nft.nftData?.name}}</p> 

    <div class="polaroid">
      <img src="{{ipdsPublicGateway}}{{nft.ipfsImageHash}}" class="img-fluid" style="width:100%">
      <div class="container">
        <h4 *ngIf="isPriceSet && !isSold">{{amountInETH}} eth</h4>
      </div>
    </div>

    <div *ngIf='isNFTOwner'>
      <button (click)='createPurchase(bundle.customRoot, nft.tokenId)' 
          class="btn btn-success">
        CREATE PURCHASE
      </button>
      
      <div *ngIf='!isSold'>
        <button (click)='editDate(bundle.customRoot, nft.tokenId)' 
            *ngIf="purchaseContract && isPriceSet"
            style="float: right;"
            class="btn btn-warning">
          EDIT END DATE
        </button>
        <button (click)='editPrice(bundle.customRoot, nft.tokenId)' 
            *ngIf="purchaseContract && isPriceSet"
            style="float: right;"
            class="btn btn-warning">
          EDIT PRICE
        </button>
      </div>
    </div>

    <div *ngIf='!isNFTOwner'>
      <div *ngIf='!isSold'>
        <button (click)='buy()' class="btn btn-primary">
          BUY
        </button>
        
        <button (click)='participate()' class="btn btn-primary">
          PAY PARTICIPATION
        </button>

        <form [formGroup]="bidForm">
          <div class="form-outline mb-4">
              <input type="number" id="value" class="form-control form-control-lg"
                  placeholder="Enter value" formControlName="value"/>
              <label class="form-label" for="value">Bid value</label>
          </div>
  
          <div>
              <button type="submit" (click)='setOnBid()' class="btn btn-primary">
                BID
              </button>
          </div>
        </form>

        <form [formGroup]="payTheInstallmentForm">
          <div class="form-outline mb-4">
              <input type="number" id="value" class="form-control form-control-lg"
                  placeholder="Enter value" formControlName="value"/>
              <label class="form-label" for="value">Installment value</label>
          </div>
  
          <div>
              <button type="submit" (click)='payTheInstallment()' class="btn btn-primary">
                PAY REPAYMENT
              </button>
          </div>
        </form>
      </div>
    </div>
    
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Details
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <p>Owner: <a href="https://goerli.etherscan.io/address/{{nftOwner}}">{{nftOwner}}</a></p>
                <p>Description: {{nft.nftData?.description}}</p>
                <p>Bundle: {{bundle.name}}</p>
                <p>Status: {{nft.statusId}}</p>
                <p>External url: {{nft.nftData?.external_url}}</p>
                <p>Created on: {{nft.createdOn}}</p>
                <p>Creator: <a href="https://goerli.etherscan.io/address/{{nft.creatorWallet}}">{{nft.creatorWallet}}</a></p>
                <p>Token standard: {{nft.tokenStandard}}</p>
            </div>
          </div>
        </div>
        <div class="accordion-item" *ngIf="purchaseContract">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Purchase contract
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <div class='container'>
                <h2 style="text-align: center;">CONTRACT</h2>
                <h3 style="text-align: center;">on the sale and purchase of a Non-Fungible Token</h3>
                <h3 style="text-align: center;">which conclude in accordance with the applicable law on obligation relations</h3>
                <h3 style="text-align: center;">on <u *ngIf="isPriceSet">{{listedDate}}</u> <u *ngIf="!isPriceSet">__________________________________________</u> by and between the Parties:</h3>
                <p><b>1. <u>0xdbAB2059F593D6Aa5c6c50A973ceE919c70A4d91</u>, <u>eArtRegister inc.</u> (hereinafter: Marketplace)</b></p>
                <p><b>2. <u>{{seller}}</u> (hereinafter: Seller)</b></p>
                <p *ngIf="isSold"><b>3. <u>{{buyer}}</u> (hereinafter: Buyer)</b></p>
                <p *ngIf="isParticipationPayed"><b>3. <u>{{installmentUser[0]}}</u> (hereinafter: Buyer)</b></p>
                <p *ngIf="!isSold && !isParticipationPayed"><b>3. <u>__________________________________________</u> (hereinafter: Buyer)</b></p>
                <h5 style="text-align: center;">Article 1.</h5>
                <p>
                    The Seller sells to the Buyer a Non-Fungible Token (hereinafter: NFT) with the following features and characteristics:
                </p>
                <p>
                    Token ID: <u>#{{nft.tokenId}}</u>
                </p>
                <p>
                    NFT name: <u>{{nft.nftData?.name}}</u>
                </p>
                <p>
                    Bundle name: <u>{{bundle.name}}</u>
                </p>
                <p>
                    Bundle address: <u>{{bundle.address}}</u>
                </p>
                <p>
                    The Seller undertakes to deliver the NFT with appropriate documents to the Buyer in the state and transfer it to him
                    the right of disposal on the day of payment of the sale price.
                </p>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount">Article 2.</h5>
                <p *ngIf="purchaseContract.entireAmount">
                    The Buyer buys from the Seller the NFT that is the subject of this contract through the eArt Register portal in the found condition.
                    The Buyer undertakes to pay the Seller the selling price of the NFT in the amount of ETH <u>{{amountInETH}}</u> on the day of 
                    purchase through the eArt Register portal.
                </p>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && purchaseContract.repaymentInInstallments">Article 2.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && purchaseContract.repaymentInInstallments">Article 3.</h5>
                <p *ngIf="purchaseContract.repaymentInInstallments">
                    The Buyer buys in installments from the Seller the NFT that is the subject of this contract through the eArt Register portal in the found condition.
                    The Buyer undertakes to pay the Seller the minimum participation of NFT in the amount of <u>{{minParticipation}}</u> ETH as well as the rest of the amount 
                    in ETH <u>{{amountInETH}}</u> in the specified repayment period through the eArt Register portal.
                </p>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 2.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 3.</h5>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 3.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 4.</h5>
                <p *ngIf="purchaseContract.auction">
                    The Buyer buys through an auction from the Seller NFT which is the subject of this contract through the portal eArt Register in the found condition.
                    The buyer with the highest bid wins the auction and buys the NFT.
                </p>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && !purchaseContract.auction">Article 2.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && !purchaseContract.auction">Article 3.</h5>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && !purchaseContract.auction">Article 3.</h5>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 3.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && !purchaseContract.auction">Article 4.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 4.</h5>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 4.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 5.</h5>
                <p>
                    All costs, fees and tax on the transfer of absolute rights in connection with the conclusion of this Agreement shall be borne by Buyer.
                </p>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && !purchaseContract.auction">Article 3.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && !purchaseContract.auction">Article 4.</h5>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && !purchaseContract.auction">Article 4.</h5>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 4.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && !purchaseContract.auction">Article 5.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 5.</h5>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 5.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 6.</h5>
                <p>
                    The provisions of the Law on Obligations shall apply to everything that is not provided for in this Agreement.
                </p>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && !purchaseContract.auction">Article 4.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && !purchaseContract.auction">Article 5.</h5>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && !purchaseContract.auction">Article 5.</h5>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 5.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && !purchaseContract.auction">Article 6.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 6.</h5>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 6.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 7.</h5>
                <p>
                    Any disputes arising from this Agreement will be resolved by agreement, and in the event that this is not possible, 
                    they will be resolved by the court competent according to the place of residence - seat of the Seller.
                </p>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && !purchaseContract.auction">Article 5.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && !purchaseContract.auction">Article 6.</h5>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && !purchaseContract.auction">Article 6.</h5>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 6.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && !purchaseContract.auction">Article 7.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && !purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 7.</h5>
                <h5 style="text-align: center;" *ngIf="!purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 7.</h5>
                <h5 style="text-align: center;" *ngIf="purchaseContract.entireAmount && purchaseContract.repaymentInInstallments && purchaseContract.auction">Article 8.</h5>
                <p>
                    The contract comes into force when it is signed by Seller and created by Marketplace.
                    With the creating of this agreement, the Framework Agreement enters into force.
                    The contract was concluded in 3 (three) identical copies, one for
                    Marketplace, one for the Seller and one for the Buyer.
                </p>
            
                <span><b><u>{{seller}}</u></b><b style="float: right;"><u *ngIf="isSold">{{buyer}}</u><u *ngIf="isParticipationPayed">{{installmentUser[0]}}</u><u *ngIf="!isSold && !isParticipationPayed">__________________________________________</u></b></span>
                <p><b>Seller</b><b style="float: right;">Buyer</b></p>
            
                <button (click)='appropve()' class="btn btn-success" *ngIf="!isPurchaseApproved">
                  APPROVE
                </button>
                <button (click)='setOnSale(bundle.customRoot, nft.tokenId)' 
                    *ngIf="purchaseContract && isPurchaseApproved && !isPriceSet"
                    class="btn btn-success">
                  SET ON SALE
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item" *ngIf="purchaseContract">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
              Sale details
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
              <p>Address: <a href="https://goerli.etherscan.io/address/{{purchaseContract.address}}">{{purchaseContract.address}}</a></p>
              <p>Contract owner: <a href="https://goerli.etherscan.io/address/{{contractOwner}}">{{contractOwner}}</a></p>
              <p>Minimum participation: {{minParticipation}}</p>
              <p>Amount: {{amountInETH}}</p>
              <p>Is sold: {{isSold}}</p>
              <p>Is price set: {{isPriceSet}}</p>
              <p>Is approved: {{isPurchaseApproved}}</p>
              <p>Seller: <a href="https://goerli.etherscan.io/address/{{seller}}">{{seller}}</a></p>
              <p>Listed date: {{listedDate}}</p>
              <p>Sales end on: {{saleEnds}}</p>
              <p>Entire amount: {{purchaseContract.entireAmount}}</p>
              <p>Repayment in installments: {{purchaseContract.repaymentInInstallments}}</p>
              <p>Auction: {{purchaseContract.auction}}</p>
              <p *ngIf="biggestBid">Biggest bid: </p>
              <ul *ngIf="biggestBid">
                <li><a href="https://goerli.etherscan.io/address/{{biggestBid[0]}}">{{biggestBid[0]}}</a></li>
                <li>{{biggestBid[1]}}</li>
                <li>{{biggestBid[2]}}</li>
              </ul>
              <p *ngIf="installmentUser">Installemt: </p>
              <ul *ngIf="installmentUser">
                <li><a href="https://goerli.etherscan.io/address/{{installmentUser[0]}}">{{installmentUser[0]}}</a></li>
                <li>Amount payed: {{installmentUser[1]}}</li>
                <li>{{installmentUser[2]}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Attributes
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <div *ngFor="let attr of nft.nftData?.attributes">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <b class="mb-1">{{attr.trait_type}}</b>
                      </div>
                      <p class="mb-1">{{attr.value}}</p>
                    </a>
                  </div>
            </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Budle contract
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                <app-source-code-contract-view [contract]="bundle.contract"></app-source-code-contract-view>
              </div>
            </div>
          </div>
          <div class="accordion-item" *ngIf="purchaseContract">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                Purchase contract
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
              <p>Address: <a href="https://goerli.etherscan.io/address/{{purchaseContract.address}}">{{purchaseContract.address}}</a></p>
              <p>Created on: {{purchaseContract.createdOn}}</p>
              <app-source-code-contract-view [contract]="purchaseContract.contract"></app-source-code-contract-view>
            </div>
          </div>
      </div>
</div>
