<div *ngIf="bundle">
    <h1>Name: {{bundle.name}}</h1>
    <h1>Description: {{bundle.description}}</h1>
    <h1>Bundle owner: <a style="color: rgb(35, 113, 187)" href="https://goerli.etherscan.io/address/{{bundle.ownerWallet}}">{{bundle.ownerWallet}}</a></h1>
    <h1>Contract Address: <a style="color: rgb(35, 113, 187)" href="https://goerli.etherscan.io/address/{{bundle.address}}">{{bundle.address}}</a></h1>
    <button class="btn btn-info" (click)="showCode = !showCode">Show source code</button>
    <div *ngIf="showCode">
        <app-source-code-contract-view [contract]="bundle.contract"></app-source-code-contract-view>
    </div>
    
    <button *ngIf="wallet == bundle.ownerWallet" style="float: right;" class="btn btn-primary" (click)="mintNFT()" >MINT</button>
</div>

<br/>
<div class="row" style='margin-left: 4px; margin-right: 4px; margin-top: 4px;'>
    <div class="col-md-3 col-xs-6" *ngFor='let nft of nfts' style='margin-top: 4px; '>
        <div class="card" (click)='openNFT(bundle.customRoot, nft.tokenId)'>
            <img class="card-img-top img-fluid" width="100px" height="100px" src="{{ipdsPublicGateway}}{{nft.ipfsImageHash}}" alt="Card image cap">
            <div class="card-block">
                <p class="card-text"><small class="text-muted">Minted at {{nft.createdOn}}</small></p>
                <h4 class="card-text">Name: {{nft.nftData?.name}}</h4>
                <p class="card-text">Token: #{{nft.tokenId}}</p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="nfts.length == 0" style="width:800px; margin:0 auto;">
    <h1>NO NFTS IN THIS BUNDLE</h1>
</div>