<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      eArt Register
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li>
          
        </li>
      </ul>
      <div class="dropdown" *ngIf='authGuard.isLoggedIn()'>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2" >
          <a href="profile" class="dropdown-item">
            Profile
          </a>
          <a href="collections/{{userId}}" class="dropdown-item">
            Collections
          </a>
          <a href="collections/{{userId}}" class="dropdown-item">
            Wallet
          </a>
          <a (click)='logout()' class="dropdown-item" >
            Sign out
          </a>
        </div>
      </div>
      <span class="navbar-text" *ngIf='!authGuard.isLoggedIn()'>
        <a class="nav-link" href="login">
          Sign in
        </a>
      </span>
      <span class="navbar-text" (click)="toggleWalletDiv()">
        <a class="nav-link" >
          Wallet
        </a>
      </span>
    </div>
  </nav>