<div class='container'>
    <form [formGroup]="mintForm" (ngSubmit)="onFirstSubmit()">
        <h1>Mint NFT</h1>

        <div class="divider d-flex align-items-center my-4">
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="name" class="form-control form-control-lg"
                placeholder="Enter name" formControlName="name"/>
            <label class="form-label" for="name">Name</label>
        </div>

        <div class="form-outline mb-3">
            <input type="text" id="description" class="form-control form-control-lg"
                placeholder="Enter description" formControlName="description"/>
            <label class="form-label" for="description">Description</label>
        </div>

        <div class="form-outline mb-3">
            <input type="text" id="external_url" class="form-control form-control-lg"
                placeholder="Enter external url" formControlName="external_url"/>
            <label class="form-label" for="external_url">External url</label>
        </div>

        <div class="form-outline mb-3">
            <label class="form-label">Attributes <button type="button" (click)="addAttribute()">+</button></label>
            <div *ngFor="let i of numOfAttributesArr">
                <input type="text" id="key_{{i}}" class="form-control form-control-lg" placeholder="Enter key {{i}}"/>
                <input type="text" id="value_{{i}}" class="form-control form-control-lg" placeholder="Enter value {{i}}"/>
            </div>
            
        </div>

        <input type="file" (change)="fileChange($event)" placeholder="Upload file">

        <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-warning btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem; margin-left: 10%;">Mint</button>
        </div>
    </form>
</div>
