<div>
    <div class="row" style='margin-left: 4px; margin-right: 4px; margin-top: 4px;'>
        <div class="col-md-3 col-xs-6" *ngFor='let bundle of bundles' (click)='openCollection(bundle.id)' style='margin-top: 4px;'>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{bundle.name}}</h4>
                    <p class="card-text">{{bundle.description}}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>