<div class="row" style='margin-left: 4px; margin-right: 4px; margin-top: 4px;'>
    <div class="col-md-3 col-xs-6" *ngFor='let nft of nfts' style='margin-top: 4px; '>
        <div class="card">
            <img class="card-img-top img-fluid" width="100px" height="100px" src="data:image/png;base64,{{nft.bytes}}" alt="Card image cap">
            <div class="card-block">
                <p class="card-text"><small class="text-muted">Minted at {{nft.mintedAt}}</small></p>
                <h4 class="card-title">Name: {{nft.name}}</h4>
                <p class="card-text">Description: {{nft.description}}</p>
                <p class="card-text">Bundle contract: <a style="color: rgb(35, 113, 187)" href="https://rinkeby.etherscan.io/address/{{nft.erC721ContractAddress}}">{{nft.erC721ContractAddress}}</a></p>
                <p class="card-text">Status: {{nft.statusId}}</p>
                <p class="card-text">Owner: <a style="color: rgb(35, 113, 187)" href="https://rinkeby.etherscan.io/address/{{nft.currentWallet}}">{{nft.currentWallet}}</a></p>
                <p class="card-text"><a style="color: rgb(35, 113, 187)" href="/bundle/{{nft.bundleId}}">Open bundle</a></p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="nfts.length == 0" style="width:800px; margin:0 auto;">
    <h1>YOU DON'T HAVE ANY NFT'S</h1>
</div>