<div class='container'>
    <form [formGroup]="bundleForm" (ngSubmit)="onFirstSubmit()">
        <h1>Set NFT on sale</h1>

        <div class="divider d-flex align-items-center my-4">
        </div>

        <div class="form-outline mb-4">
            <input type="number" id="amountInETH" class="form-control form-control-lg"
                placeholder="Enter amount" formControlName="amountInETH"/>
            <label class="form-label" for="amountInETH">Amount</label>
        </div>

        <div class="form-outline mb-4">
            <input type="number" id="daysOnSale" class="form-control form-control-lg"
                placeholder="Enter days on sale" formControlName="daysOnSale"/>
            <label class="form-label" for="daysOnSale">Days on sale</label>
        </div>

        <div class="form-outline mb-4">
            <input type="number" id="minParticipation" class="form-control form-control-lg"
                placeholder="Enter minimum participation" formControlName="minParticipation"/>
            <label class="form-label" for="minParticipation">Minimum participation</label>
        </div>

        <div>
            <button type="submit" class="btn btn-primary btn-lg">
                SET ON SALE
            </button>
        </div>
    </form>
</div>
