<div><button type="button" style="width:100%" class="btn btn-primary" (click)="mintNFT()">MINT</button></div>
<br/>
<div class="row" style='margin-left: 4px; margin-right: 4px; margin-top: 4px;'>
    <div class="col-md-3 col-xs-6" *ngFor='let nft of nfts' style='margin-top: 4px;'>
        <div class="card">
            <img class="card-img-top img-fluid" src="data:image/png;base64,{{nft.bytes}}" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">{{nft.name}}</h4>
                <p class="card-text">{{nft.description}}</p>
                <p class="card-text"><small class="text-muted">Minted at {{nft.mintedAt}}</small></p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="nfts.length == 0" style="width:800px; margin:0 auto;">
    <h1>NO NFTS IN THIS BUNDLE</h1>
</div>