<div class="container" *ngIf="!user.depositAddress">
    <h1 style="text-align: center;">CONTRACT</h1>
    <h2 style="text-align: center;">on opening and maintaining a crypto currency current account</h2>
    <p><b>concluded on <u>__________________________________________</u> by and between the Parties:</b></p>
    <p>1. <b><u>0xdbAB2059F593D6Aa5c6c50A973ceE919c70A4d91</u>, <u>eArtRegister inc.</u> (hereinafter: Marketplace)</b></p>
    <p>2. <b><u>__________________________________________</u> (hereinafter: Client)</b></p>
    <h5 style="text-align: center;">Article 1.</h5>
    <p>
        On the basis of this contract, Request for account opening and
        General business conditions of eArtRegister inc, which
        apply to the provision of payment services to entrepreneurs (in
        hereinafter: General business conditions), the Marketplace opens to the Client
        crypto current account (hereinafter: Account).
    </p>
    <p>
        By signing this contract, the Client and the Marketplace conclude the Framework
        contract in accordance with the Law on Payment Services that form:
    </p>
    <ul>
        <li>
            General business conditions,
        </li>
        <li>
            Tariff of the Marketplace's fees for payment services
            to entrepreneurs as an integral part of the General Business Conditions
            (hereinafter: Tariff) and,
        </li>
        <li>
            this Agreement.
        </li>
    </ul>
    <p>By signing this contract, the Client confirms that the Marketplace is his
        delivered the General Terms of Business with the Tariff.</p>
    <h5 style="text-align: center;">Article 2.</h5>
    <p>
        Based on this contract, the Marketplace opens and maintains an Account for the Client
        number: <b>EARparty</b>
    </p>
    <p>
        The account is non-purpose and serves to receive payments, they report
        of funds from the Account, i.e. to the Account, execution
        disbursements and payments in crypto currency within the limits of the available balance
        on the Account, in the manner and under the conditions established herein
        contract, General Terms and Conditions and Tariff of Fees for
        payment services to entrepreneurs as an integral part
        General conditions of business.
    </p>
    <p>
        The Marketplace does not calculate or pay for funds on the Account
        interest.
    </p>
    <h5 style="text-align: center;">Article 3.</h5>
    <p>The Marketplace undertakes:</p>
    <ol>
        <li>
            that, when providing payment services to the Client,
            complies with the provisions of the Framework Agreement, the Law on Wages
            services and other regulations governing payment services or
            are related to them;
        </li>
        <li>
            to respect the principles of secrecy of accounts within the system and to provide information about
            The account is given only to the Client or by order of the court or another
            competent authority;
        </li>
        <li>
            to the Client upon closing the Account the amount found
            funds on the Account are paid in the currency in which the funds are
            paid.
        </li>
    </ol>
    <h5 style="text-align: center;">Article 4.</h5>
    <p>The Client undertakes:</p>
    <ol>
        <li>
            that when performing payment transactions, issuance
            payment orders, use of payment instruments, that is
            when using the Marketplace's payment services
            provisions of the Framework Agreement, the Law on Wages
            services and other regulations governing payment services or
            are related to them;
        </li>
    </ol>
    <h5 style="text-align: center;">Article 5.</h5>
    <p>The Marketplace opens and maintains an account free of charge.</p>
    <p>
        For the Client, during the validity of this contract, they may arise
        expenses that are not related to the maintenance of the Account and which arise from
        basis of transactions or services initiated by the Client - fees and
        costs of payment transactions.
        Types and amounts of fees and expenses from paragraph 2 of this article, which
        valid on the date of conclusion of this contract, are specified in the Tariff.
        The Client has the right to terminate the Account free of charge.
    </p>
    <p>
        With this contract, the client authorizes the Marketplace to make collections
        fees and costs from paragraph 2 of this article, in accordance with
        valid Tariff, can use all its resources that
        as a deposit with the Marketplace on a crypto current account.
    </p>
    <h5 style="text-align: center;">Article 6.</h5>
    <p>
        Everything that is not regulated by this contract
        provisions of other documents that make up the Framework Agreement -
        provisions of the General Business Terms and Tariffs.
    </p>
    <h5 style="text-align: center;">Article 7.</h5>
    <p>
        This contract or framework contract is concluded on
        indefinite period of time.
        They apply to changes, additions and termination of the Framework Agreement
        provisions of the General Terms and Conditions of Business.
        In addition to the reasons established in the Marketplace's General Terms and Conditions of Business
        has the right to terminate the Framework Agreement in case of breach
        provisions of this contract by the Client.
    </p>
    <h5 style="text-align: center;">Article 8.</h5>
    <p>
        The contract comes into force when it is signed by Client and created by Marketplace.
        With the creating of this agreement, the Framework Agreement enters into force.
        The contract was concluded in 2 (two) identical copies, one for
        Client and one for the Marketplace.
    </p>

    <span><b><u>0xdbAB2059F593D6Aa5c6c50A973ceE919c70A4d91</u></b><b style="float: right;"><u>__________________________________________</u></b></span>
    <p><b>Marketplace</b><b style="float: right;">Client</b></p>

    <button class="btn btn-success" (click)="createDeposit()">
        SIGN
    </button>
</div>

<div *ngIf="user.depositAddress">
    <h1>Balance: {{balance}} ETH</h1>
    <form [formGroup]="depositForm">
        <div class="form-outline mb-4">
            <input type="number" id="value" class="form-control form-control-lg"
                placeholder="Enter value" formControlName="value"/>
            <label class="form-label" for="value">Deposit value</label>
        </div>

        <div>
            <button type="submit" (click)='addDeposit()' class="btn btn-success">
                Deposit
            </button>
        </div>
      </form>

      <form [formGroup]="withdrawForm">
        <div class="form-outline mb-4">
            <input type="number" id="value" class="form-control form-control-lg"
                placeholder="Enter value" formControlName="value"/>
            <label class="form-label" for="value">Withdraw value</label>
        </div>

        <div>
            <button type="submit" (click)='withdraw()' class="btn btn-primary">
                Withdraw
            </button>
        </div>
    </form>
    <button class="btn btn-info" (click)="showCode = !showCode">Show contract</button>
    <div class="container" *ngIf="showCode">
        <h1 style="text-align: center;">CONTRACT</h1>
        <h2 style="text-align: center;">on opening and maintaining a crypto currency current account</h2>
        <p><b>concluded on <u>{{user.depositCreated}}</u> by and between the Parties:</b></p>
        <p>1. <b><u>0xdbAB2059F593D6Aa5c6c50A973ceE919c70A4d91</u>, <u>eArtRegister inc.</u> (hereinafter: Marketplace)</b></p>
        <p>2. <b><u>{{wallet}}</u> (hereinafter: Client)</b></p>
        <h5 style="text-align: center;">Article 1.</h5>
        <p>
            On the basis of this contract, Request for account opening and
            General business conditions of eArtRegister inc, which
            apply to the provision of payment services to entrepreneurs (in
            hereinafter: General business conditions), the Marketplace opens to the Client
            crypto current account (hereinafter: Account).
        </p>
        <p>
            By signing this contract, the Client and the Marketplace conclude the Framework
            contract in accordance with the Law on Payment Services that form:
        </p>
        <ul>
            <li>
                General business conditions,
            </li>
            <li>
                Tariff of the Marketplace's fees for payment services
                to entrepreneurs as an integral part of the General Business Conditions
                (hereinafter: Tariff) and,
            </li>
            <li>
                this Agreement.
            </li>
        </ul>
        <p>By signing this contract, the Client confirms that the Marketplace is his
            delivered the General Terms of Business with the Tariff.</p>
        <h5 style="text-align: center;">Article 2.</h5>
        <p>
            Based on this contract, the Marketplace opens and maintains an Account for the Client
            number: <b><a style="color: rgb(35, 113, 187)" href="https://goerli.etherscan.io/address/{{user.depositAddress}}">{{user.depositAddress}}</a></b>
        </p>
        <p>
            The account is non-purpose and serves to receive payments, they report
            of funds from the Account, i.e. to the Account, execution
            disbursements and payments in crypto currency within the limits of the available balance
            on the Account, in the manner and under the conditions established herein
            contract, General Terms and Conditions and Tariff of Fees for
            payment services to entrepreneurs as an integral part
            General conditions of business.
        </p>
        <p>
            The Marketplace does not calculate or pay for funds on the Account
            interest.
        </p>
        <h5 style="text-align: center;">Article 3.</h5>
        <p>The Marketplace undertakes:</p>
        <ol>
            <li>
                that, when providing payment services to the Client,
                complies with the provisions of the Framework Agreement, the Law on Wages
                services and other regulations governing payment services or
                are related to them;
            </li>
            <li>
                to respect the principles of secrecy of accounts within the system and to provide information about
                The account is given only to the Client or by order of the court or another
                competent authority;
            </li>
            <li>
                to the Client upon closing the Account the amount found
                funds on the Account are paid in the currency in which the funds are
                paid.
            </li>
        </ol>
        <h5 style="text-align: center;">Article 4.</h5>
        <p>The Client undertakes:</p>
        <ol>
            <li>
                that when performing payment transactions, issuance
                payment orders, use of payment instruments, that is
                when using the Marketplace's payment services
                provisions of the Framework Agreement, the Law on Wages
                services and other regulations governing payment services or
                are related to them;
            </li>
        </ol>
        <h5 style="text-align: center;">Article 5.</h5>
        <p>The Marketplace opens and maintains an account free of charge.</p>
        <p>
            For the Client, during the validity of this contract, they may arise
            expenses that are not related to the maintenance of the Account and which arise from
            basis of transactions or services initiated by the Client - fees and
            costs of payment transactions.
            Types and amounts of fees and expenses from paragraph 2 of this article, which
            valid on the date of conclusion of this contract, are specified in the Tariff.
            The Client has the right to terminate the Account free of charge.
        </p>
        <p>
            With this contract, the client authorizes the Marketplace to make collections
            fees and costs from paragraph 2 of this article, in accordance with
            valid Tariff, can use all its resources that
            as a deposit with the Marketplace on a crypto current account.
        </p>
        <h5 style="text-align: center;">Article 6.</h5>
        <p>
            Everything that is not regulated by this contract
            provisions of other documents that make up the Framework Agreement -
            provisions of the General Business Terms and Tariffs.
        </p>
        <h5 style="text-align: center;">Article 7.</h5>
        <p>
            This contract or framework contract is concluded on
            indefinite period of time.
            They apply to changes, additions and termination of the Framework Agreement
            provisions of the General Terms and Conditions of Business.
            In addition to the reasons established in the Marketplace's General Terms and Conditions of Business
            has the right to terminate the Framework Agreement in case of breach
            provisions of this contract by the Client.
        </p>
        <h5 style="text-align: center;">Article 8.</h5>
        <p>
            The contract comes into force when it is applied by Client and created by Marketplace.
            With the creating of this agreement, the Framework Agreement enters into force.
            The contract was concluded in 2 (two) identical copies, one for
            Client and one for the Marketplace.
        </p>
    
        <span><b><u>0xdbAB2059F593D6Aa5c6c50A973ceE919c70A4d91</u></b><b style="float: right;"><u>{{wallet}}</u></b></span>
        <p><b>Marketplace</b><b style="float: right;">Client</b></p>
    </div>
    <div *ngIf="showCode">
        <app-source-code-contract-view [contract]="user.depositContract"></app-source-code-contract-view>
    </div>
</div>