<div class="wallet-div">
    <img src="../../../assets/images/metamask.png" alt="MetaMask" width="100%">

    <div *ngIf="user" class="logged-div">
      <p>Logged user: </p><span> {{ wallet }}</span>
    </div>

    <div *ngIf="user" class="logged-div">
      <p>Balance: </p><span> {{ balance }}</span>
    </div>

    <div *ngIf="user" class="logged-div">
      <p>Deposit address: </p><span> {{ depositContract }}</span>
    </div>

    <div *ngIf="user" class="logged-div">
      <p>Deposit: </p><span> {{ depositValue }}</span>
    </div>

    <button class="btn btn-warning btn-lg" (click)="createDeposit()" *ngIf="!depositContract">
      Create deposit
    </button>

    <button class="btn btn-warning btn-lg" (click)="openDeposit()">
      Open deposit
    </button>

    <!-- <span class="navbar-text" *ngIf="depositContract">
      <a class="nav-link" href="nfts">
        My NFTs
      </a>
    </span>
    <span class="navbar-text" *ngIf="depositContract">
      <a class="nav-link" href="bundles">
        My bundles
      </a>
    </span> -->
    <span class="navbar-text" *ngIf="depositContract">
      <a class="btn btn-warning btn-lg" href="create">
        Create bundle
      </a>
    </span>
    <!-- <span class="navbar-text">
      <a class="nav-link" href="my-history">
        My system history
      </a>
    </span> -->
</div>