<div class="wallet-div">
    <img src="../../../assets/images/metamask.png" alt="MetaMask" width="100%">

    <div *ngIf="user" class="logged-div">
      <p>Logged user: </p><span> {{ user }}</span>
    </div>

    <div *ngIf="user" class="logged-div">
      <p>Balance: </p><span> {{ balance }}</span>
    </div>

    <div *ngIf="user" class="logged-div">
      <p>Deposit contract: </p><span> {{ depositContract }}</span>
    </div>

    <div *ngIf="user" class="logged-div">
      <p>Deposit: </p><span> {{ depositValue }}</span>
    </div>

    <!-- <div *ngIf="user" class="logged-div">
      <p>Deposit server: </p><span> {{ depositServerValue }}</span>
    </div> -->

    <button class="btn btn-warning btn-lg" (click)="createDeposit()" *ngIf="!depositContract">
      Create deposit
    </button>

    <button class="btn btn-warning btn-lg" (click)="addDeposit()">
      Deposit 0.02
    </button>

    <!-- <button class="btn btn-warning btn-lg" (click)="depositToServer()">
      Deposit server 0.01
    </button> -->

    <span class="navbar-text" *ngIf="depositContract">
      <a class="nav-link" href="nfts">
        My NFTs
      </a>
    </span>
    <span class="navbar-text" *ngIf="depositContract">
      <a class="nav-link" href="bundles">
        My bundles
      </a>
    </span>
    <span class="navbar-text" *ngIf="depositContract">
      <a class="nav-link" href="create">
        Create bundle
      </a>
    </span>
</div>